@media screen and (max-width: 1450px) {
    .main-container, .header nav, .dms {
        width: 65%;
    } 
}

@media screen and (max-width: 1390px) {
    .main-container, .header nav, .dms {
        width: 70%;
    }
}

@media screen and (max-width: 1300px) {
    .main-container, .header nav, .dms {
        width: 75%;
    }
}

@media screen and (max-width: 1200px) {
    .main-container, .header nav, .dms {
        width: 80%;
    }
}

@media screen and (max-width: 1100px) {
    .main-container, .header nav, .dms {
        width: 85%;
    }
}

@media screen and (max-width: 1050px) {
    .main-container, .header nav, .dms {
        width: 92.5%;
    }
}

@media screen and (max-width: 1000px) {
    .side-nav {
        display: none;
    }
    .header nav {
        width: 92.5%;
        .nav {
            ul {
                width: 60%;
            }
        }
    }
    .main-container {
        display: flex;
        justify-content: center;
        width: 75%;
    }
}

@media screen and (max-width: 900px) {
    .header nav {
        width: 92.5%;
        .nav {
            ul {
                width: 70%;
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .header nav {
        .nav {
            ul {
                width: 75%;
            }
        }
    }
}

@media screen and (max-width: 730px) {
    .header nav {
        .nav {
            ul {
                width: 80%;
            }
        }
    }
    .main-container {
        width: 85%;
    }
}

@media screen and (max-width: 700px) {
    .dms {
        .cont {
            text-align: center;
        }
    }

    #root > div > div.dms > div.left > div.left-header > div.right > svg {
        display: none;
    }

    .header nav {
        .nav {
            ul {
                width: 85%;
            }
        }
    }
    .main-container {
        width: 90%;
    }
}

@media screen and (max-width: 650px) {
    .header nav {
        .search-bar {
            display: none;
        }
        .logo {
            flex: 1;
        }
        .nav {
            flex: 1;
            ul {
                width: 70%;
            }
        }
    }
    .main-container {
        width: 92.5%;
    }
}

@media screen and (max-width: 600px) {
    .header nav {
        .nav {
            ul {
                width: 90%;
            }
        }
    }

    .main-container {
        margin-top: 3.375em;
        width: 100%;
        #postimg {
            height: 550px;
        }
        .post {
            .post-header {
                .header-cont {
                    .post-pfp, .post-more {
                        flex: 1.4 !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .header nav {
        .nav {
            ul {
                width: 100%;
            }
        }
    }

    .post {
        margin-bottom: 1em !important;
        .comment-input {
            display: none;
        }
    }
}