@mixin profilePicture($height, $width) {
    height: $height - 1px;
    width: $width - 1px;
    border-radius: 50%;
    border: 3px solid #fff;
    cursor: pointer;
    padding: 1px;
    object-fit: cover;
}

@mixin newStory($height, $width) {
    img {
        height: $height - 1px;
        width: $width - 1px;
        border: 3px solid #d6249f !important;
        padding: 1px !important;
        object-fit: cover;
    }
    p {
        color: #262626;
    }
}

.new-story {
    @include newStory(54px, 54px);
}

.main-container {
    h2 { cursor: pointer; &:hover { text-decoration: underline; } }
    width: 61.5%;
    margin: auto;
    margin-top: 3.375em + 1.875em;
    display: flex;
    .posts-stories {
        flex: 2.025;
        .stories {
            margin-bottom: 1.5em;
            background-color: #fff;
            border: 1px solid $border;
            border-radius: 3px;
            width: 100%;
            padding: 0.625em 0;
            height: 6.0625em;
            display: flex;
            align-items: center;
            .container {
                width: 94.5%;
                margin: auto;
                display: flex;
                align-items: center;
                overflow-x: auto;
                &::-webkit-scrollbar {
                    display: none;
                }
                .story {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #8e8e8e;
                    font-size: 12px;
                    font-weight: 450;
                    flex-direction: column;
                    margin-right: 17px;
                    img {
                        @include profilePicture(56px, 56px);
                        margin-bottom: 5px;
                    }
                    p {
                        a {
                            color: inherit;
                            text-decoration: none; 
                        }
                    }
                }
            }
        }
        .posts {
            .post {
                width: 100%;
                margin-bottom: 3.5em;
                .post-header {
                    height: 2.75em;
                    padding: 0.3125em 0;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    background-color: #fff;
                    border: 1px solid $border;
                    border-bottom: none;
                    border-radius: 3px 3px 0px 0px;
                    .header-cont {
                        width: 95%;
                        margin: auto;
                        display: flex;
                        align-items: center;
                        .post-pfp {
                            flex: 1;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            img {
                                height: 32px;
                                width: 32px;
                                border-radius: 50%; 
                                object-fit: cover;
                            }
                        }
                        .post-username {
                            flex: 9;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            h2 {
                                font-size: 14px;
                                font-weight: 600;
                                margin-bottom: .15em;
                                a {
                                    color: #262626;
                                    text-decoration: none;
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
                            p {
                                font-size: 12px;
                            }
                        }
                        .post-more {
                            flex: 1;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            svg {
                                cursor: pointer;
                            }
                        }
                    }
                }
                .post-image {
                    height: 710px;
                    width: 100%;
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .post-comments {
                    width: 100%;
                    border: 1px solid $border;
                    border-top: none;
                    border-radius: 3px;
                    background-color: #fff;
                    .buttons-header {
                        width: 95%;
                        margin: auto;
                        padding-top: .7em;
                        // padding-bottom: .7em;
                        display: flex;
                        align-items: center;
                        svg {
                            height: 25px;
                            width: 25px;
                            cursor: pointer;
                        }
                        .left {
                            flex: 1;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            svg {
                                margin-right: 12.5px;
                            }
                        }
                        .right {
                            flex: 1;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                        }
                    }
                    .comment-desc-list {
                        width: 95%;
                        margin: auto;
                        margin-top: .5em;
                        margin-bottom: .5em;
                        h2 {
                            font-size: 14px;
                            font-weight: 600;
                        }
                        p {
                            font-size: 14px;
                        }
                        .desc {
                            margin-top: .5em;
                            display: flex;
                            align-items: center;
                            h2 { margin-right: .45em; }
                        }
                        .list {
                            a {
                                font-size: 14px;
                                color: #8e8e8e;
                                text-decoration: none;
                            }
                            .comments {
                                .comment-preview {
                                    display: flex;
                                    // align-items: center;
                                    h2 { margin-right: .45em; }
                                    margin-bottom: .15em;
                                }
                            }
                            #post-date {
                                margin-top: .75em;
                                margin-bottom: 1em;
                                font-size: 10px;
                                color: #8e8e8e;
                                text-transform: uppercase;
                            }
                        }
                    }
                    .comment-input {
                        border-top: 1px solid $border;
                        padding: 10px 0;
                        .cont {
                            width: 97%;
                            margin: auto;
                            display: flex;
                            align-items: center;
                            .left {
                                flex-basis: 90%;
                                input {
                                    width: 100%;
                                    padding: .5em .25em;
                                    border: none;
                                    outline: none;
                                }
                            }
                            .right {
                                flex-basis: 10%;
                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                a {
                                    margin-right: .75em;
                                    color: #0095f6;
                                    font-size: 14px;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .side-nav {
        flex: 1;
        overflow: hidden;
        margin-top: 1.40625em;
        margin-left: 1.25em;
        width: 100%;
        height: 100%;
        .profile {
            width: 100%;
            display: flex;
            align-items: center;
            .profile-picture {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    height: 56px;
                    width: 56px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            .username {
                flex: 2;
                display: flex;
                margin-left: .5em;
                justify-content: center;
                flex-direction: column;
                h2 {
                    font-size: 14px;
                    font-weight: 600;
                }
                p {
                    color: #8e8e8e;
                    font-size: 14px;
                }
            }
            .switch {
                flex: 1;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                a {
                    text-decoration: none;
                    color: #0095f6;
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }
        .suggestions {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 1.4em;
            .sug-header {
                width: 100%;
                display: flex;
                align-items: center;
                .left {
                    flex: 1;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    h2 {
                        margin-left: .7em;
                        font-size: 14px;
                        color: #8e8e8e;
                        font-weight: 500;
                    }
                }
                .right {
                    flex: 1;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    a {
                        color: #262626;
                        text-decoration: none;
                        font-size: 12px;
                        font-weight: 500;
                    }
                }
            }
            .sug-body {
                width: 100%;
                margin-top: 1.25em;
                display: flex;
                justify-content: center;
                flex-direction: column;
                .suggestion {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    margin-bottom: .75em;
                    .pfp {
                        flex: 1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            height: 32px;
                            width: 32px;
                            border-radius: 50%;
                            object-fit: cover;
                            cursor: pointer;
                        }
                    }
                    .username {
                        flex: 3.25;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        h2 {
                            font-size: 14px;
                            font-weight: 500;
                            a {
                                text-decoration: none;
                                color: inherit;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                        p {
                            font-size: 12px;
                            color: #8e8e8e;
                        }
                    }
                    .follow {
                        flex: 1;
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-start;
                        a {
                            color: #0095f6;
                            font-size: 12px;
                            font-weight: 500;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .footer {
            width: 100%;
            color: #c7c7c7;
            font-size: 11px;
            margin-top: 2em;
            margin-left: .75em;
            #top { margin-bottom: 1.5em; line-height: 1.6; width: 100%; }
            a { color: #c7c7c7; text-decoration: none; }
        }
    }
}